/IEF_kdeplot.png
/IWV_kdeplot.png
/SPY_kdeplot.png
/stock_returns_2005-12-13.png
/stock_returns_2006-01-31.png
/stock_returns_2006-03-28.png
/stock_returns_2006-05-10.png
/stock_returns_2006-06-29.png
/stock_returns_2006-08-08.png
/stock_returns_2006-09-20.png
/stock_returns_2006-10-25.png
/stock_returns_2006-12-12.png
/stock_returns_2007-09-18.png
/stock_returns_2007-10-31.png
/stock_returns_2007-12-11.png
/stock_returns_2008-01-30.png
/stock_returns_2008-03-18.png
/stock_returns_2008-04-30.png
/stock_returns_2008-10-29.png
/stock_returns_2008-12-16.png
/stock_returns_2019-09-18.png
/stock_returns_2019-10-04.png
/TIP_kdeplot.png
/TLT_kdeplot.png